[submodule "lib/esp32-camera"]
	path = lib/esp32-camera
	url = https://github.com/espressif/esp32-camera
[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
